### 1) A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

### Minitab File : Cutlets.mtw

### Answer

Level of significance = 0.05

Let , the null hypothesis be ,  H0: μ1 = μ2 
    H0 :   (There is no difference in diameters of cutlets between two units) 
    
And alternative hypothesis be ,    Ha: μ1 ≠ μ2  
 Ha :  (There is significant difference in diameters of cutlets between two units) 
 
Here , 2 Samples 2 tail test  is  applicable.

In [1]:
import pandas as pd
from scipy import stats

In [2]:
data=pd.read_csv('Cutlets.csv')
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
statistic,p_value=stats.ttest_ind(data['Unit A'],data['Unit B'])
round(p_value,4)

0.4722

In [4]:
if p_value < 0.05:
    print('Reject the null hypothesis at 5% level of significance and conclude that , there is a difference in diameters of cutlets between two units.')
else:
        print('do not reject the null hypothesis at 5% level of significance and conclude that , there is no difference in diameters of cutlets between two units.')

do not reject the null hypothesis at 5% level of significance and conclude that , there is no difference in diameters of cutlets between two units.

#### 
Hence , p-value > 0.05   , at  5%  level of significance we do not reject the null hypothesis and conclude that,
there is no difference in diameters of cutlets between two units.

# =====================================================


### 2) A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
### Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.
### Minitab File: LabTAT.mtw

## Answer :

#### 
Level of significance = 0.05

null hypothesis is,

H0 :   There is no difference in average TAT among the different laboratories.
    
And alternative hypothesis be, 

Ha :  There is a  difference in average TAT among the different laboratories.

In [5]:
lab_data=pd.read_csv("LabTAT.csv")
lab_data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [6]:
statistic,p_val=stats.f_oneway(lab_data['Laboratory 1'],lab_data['Laboratory 2'],lab_data['Laboratory 3'],lab_data['Laboratory 4'])
p_val

2.1156708949992414e-57

In [7]:
if p_val < 0.05:
    print('Reject the null hypothesis at 5% level of significance and conclude that , there is a  difference in average TAT among the different laboratories')
else:
        print('do no reject the null hypothesis at 5% level of significance and conclude that , there is no  difference in average TAT among the different laboratories')

Reject the null hypothesis at 5% level of significance and conclude that , there is a  difference in average TAT among the different laboratories

#### 
Here ,
p-value  <  0.05 , 
at  5%  level of significance we  reject the null hypothesis and conclude that,
there is a  difference in average TAT among the different  laboratories.

### 3) Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.
**file : Buyer Ratio.mtw**

## Answer :

Level of significance = 0.05

null hypothesis is,

    H0 :   There is no significant association between gender  and regions.
    
And alternative hypothesis is, 

    Ha :  There is a significant association between gender  and regions.

In [8]:
data=pd.read_csv("BuyerRatio.csv")
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [9]:
data=data.iloc[:,1:]
data

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [10]:
chi_square_test_val,pval,dof,expected_table=stats.chi2_contingency(data)
print('p_value is : ' ,pval)

p_value is :  0.6603094907091882

In [11]:
if pval < 0.05:
    print('Reject the null hypothesis at 5% level of significance and conclude that , there is a significant association between gender  and regions.')
else:
    print('Do not reject the null hypothesis at 5% level of significance and conclude that , there is no significant association between gender  and regions.')

Do not reject the null hypothesis at 5% level of significance and conclude that , there is no significant association between gender  and regions.

Here , p-value > 0.05   , at  5%  level of significance we do not reject the null hypothesis and conclude that,  
there is no significant association between gender  and regions.

## 4) TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences
### Minitab File: CustomerOrderForm.mtw

## Answer :

Level of significance = 0.05

null hypothesis is,

    H0 :  There is no significant association between centers and defectives.
    
And alternative hypothesis is,

    Ha :  There is a significant association between centers and defectives.

In [12]:
data=pd.read_csv("Costomer+OrderForm.csv")
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [13]:
Phillippines=data['Phillippines'].value_counts()
Phillippines

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [14]:
Indonesia=data['Indonesia'].value_counts()
Indonesia

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [15]:
Malta=data['Malta'].value_counts()
Malta

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [16]:
India=data['India'].value_counts()
India

Error Free    280
Defective      20
Name: India, dtype: int64

In [17]:
statistic,p_val,df,exp_tab = stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])
round(p_val,4)

0.2771

In [18]:
if pval < 0.05:
    print('Reject the null hypothesis at 5% level of significance and conclude that , there is a significant association between centers and defectives.')
else:
    print('Do not reject the null hypothesis at 5% level of significance and conclude that , there is no significant association between centers and defectives.')

Do not reject the null hypothesis at 5% level of significance and conclude that , there is no significant association between centers and defectives.

Hence , p-value > 0.05 , at  5%  level of significance we do not reject the null hypothesis,and conclude that,
there is no significant association between centers and defectives.